.formInput {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
}

input {
  width: 250px;
  height: 35px;
  margin: 5px;
  padding-left: 5px;
  border-radius: 7px;
  border-top: 0;
  border-bottom: 0;
  border: none;
}
label {
  color: gray;
  font-size: 12px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.Error{
  font-size: 13px;
  padding: 3px;
  color: red;
  display: none;
  width: 40%;
  flex-wrap: wrap;
}
input:invalid[focused="true"] ~ .Error{
  display: block;
}
input:invalid[focused="true"]{
  border: 1px solid red;
}