.LandingCard{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 20px;
  flex-wrap: wrap;
  
}
.LandingCard-column {
  display: flex;
  flex-direction: column;
  width: 202px;
  height: 400px;
}
.Image-Card {
  width: 202px;
  height: 251px;
}
.Card-Text{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ShopMensBox {
  width: 136px;
  height: 43px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}
.ShopWomensBox {
  width: 136px;
  height: 43px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}
.ShopWomensBox:hover {
  background-color: black;
}
.ShopMensBox:hover {
  background-color: black;
}
.Shop-men-Women-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}
.Shoping-a-Bigger {
  position: relative;
  background: #fff;
  color: rgb(255, 255, 255);
  font-size: 0.8em;
  letter-spacing: 0.1em;
  font-weight: 400;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.Shoping-a-Bigger:hover {
  background: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  letter-spacing: 0.25em;
  box-shadow: rgb(64, 0, 255);
  filter: drop-shadow(0 0 25px rgba(0, 48, 242, 0.9));
  cursor: pointer;
}
.Shoping-a-Bigger::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #27282c;
}

.Shoping-a-Bigger .Shoping-span {
  position: relative;
  z-index: 1;
}
.Shoping-a-Bigger .Shoping-i {
  position: absolute;
  inset: 0;
  display: block;
}
.Shoping-a-Bigger i::before {
  content: "";
  position: absolute;
  top: 0;
  left: 80%;
  width: 10px;
  height: 4px;
  background-color: #27282c;
  transform: translate(-50%) skewX(325deg);
  transition: 0.5s;
}
.Shoping-a-Bigger:hover i::before {
  width: 20px;
  left: 20%;
}

.Shoping-a-Bigger i::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 10px;
  height: 4px;
  background-color: #27282c;
  transform: translate(-50%) skewX(325deg);
  transition: 0.5s;
}
.Shoping-a-Bigger:hover i::after {
  width: 20px;
  left: 80%;
}